@font-face {
	font-family: geosans;
	src: url('geo_sans_light/Geosanslight.ttf');
}

*{
	margin: 0;
}

body {
	background-image: url(images/linen_brown.png);
	height: 100%;
}

.logo {
	display: block;
	margin: 100px auto;
}

h2 {
	text-align: center;
	opacity: 0.4;
	font-family: geosans;
	font-size: 40pt;
	color: #ffffff;
}

p {
	font-family: geosans;
	opacity: 0.6;
	text-align: left;
	font-size: 20pt;
	color: #ffffff;
}

hr {
	margin: 45px 0;
}

img {
	margin: 0 20px;
	vertical-align: middle;
}

#timeline {
	margin-bottom: 30px;

}